//Mantis: rgb(130, 209, 115)
//Mint Green: rgb(171, 250, 169)
//Cadet Gray: rgb(149, 163, 179)
//Spanish Violet: rgb(76, 44, 105)
//Dark Purple: rgb(66, 37, 59)

.App {

    text-align: center;
}

.body_page {
    box-shadow: 0px 0px 100px 10px rgb(4, 255, 0);
    padding-top: 5%;
    background: linear-gradient(to left, rgb(0, 0, 0) 60%, rgb(4, 255, 0) 100%);
}

a {
    color: black;
    text-decoration: none;
}

a:after {
    color: black;
}

@mixin background($imgpath, $position: 0 0, $repeat: no-repeat) {
    background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;
    }
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');

html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}


#middle {
    margin-top: 100%;
    padding-bottom: 25%;
}

.sides,
.info {
    flex: 0 0 auto;
    width: 50%
}

.info {
    width: 100%;
    padding: 15% 10% 0 10%;
    text-align: center;
    text-shadow: 0 2px 3px rgb(4, 255, 0)(0, 0, 0, 0.2)
}

.header {
    padding-bottom: 20%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    height: fit-content;
    color: #eee;
    border: none;
}

.header:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(to bottom, rgb(0, 0, 0, 0.85) 20%, #ffffff04 100%);
    border: none;
}

.header:before {

    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    scale: (1.0, 1.0);
    transform: translateZ(0);
    background: #1B2030 url(../images/portifolio.jpg) 100% 0 no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    animation: grow 60s linear 10ms infinite;
    transition: all 0.4s ease-in-out;
    z-index: -2;
    box-shadow: 0px 0px 100px 100px rgb(4, 255, 0);
    border: none;
}

.header a {
    color: rgb(171, 250, 169);
}

.logo {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    align-content: center;
    margin: 20px;
    padding: 0px 10px;
    font-weight: 900;
    font-size: 1.1em;
    line-height: 1;
    box-sizing: border-box;
    height: 40px
}

.meet {
    border: 1px solid rgb(171, 250, 169);
    border-radius: 3px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    align-content: center;
    padding: 0px 10px;
    font-weight: 900;
    font-size: 1.6em;
    line-height: 1;
    box-sizing: border-box;
    height: 50px;
    margin-top: 35px;
    margin-bottom: 20px;
}

.meet:hover {
    color: rgb(4, 255, 0);
    border: solid 1px rgb(4, 255, 0);
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 1px 2px 2px 0px rgb(4, 255, 0);
}

.author {
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: url(../images/img_perfil.jpg) top no-repeat;
    background-size: cover;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 3px
}

p {
    font-size: larger;
}

h1 {
    color: rgb(171, 250, 169);
    font-size: 4em;
}

h4 {
    color: rgb(171, 250, 169);
    font-size: 2em;
}

.info,
.meta {
    padding-top: 5%;
    font-size: 0.7em
}

.meta {
    font-style: italic;
}

@keyframes grow {
    0% {
        transform: scale(1) translateY(0px)
    }

    50% {
        transform: scale(1.2) translateY(-400px)
    }
}

.content {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 3% 5%;
    padding-bottom: 10%;
    text-align: justify;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.p_content {
    text-shadow: 0 10px 10px black;
    border-radius: 5px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 1%;
    color: rgb(171, 250, 169);
    text-align: center;
    font-size: 1.5em;
    font-family: 'Josefin Sans', sans-serif;
}

// .btn {
//     color: #333;
//     border: 2px solid;
//     border-radius: 3px;
//     text-decoration: none;
//     display: inline-block;
//     padding: 5px 10px;
// }

.twtr {
    margin-top: 100px
}

.btn.twtr:after {
    content: "\1F426";
    padding-left: 5px
}

// .content_btns {
//     // height: 300px;
//     color: black;
// }

.btn_hello,
.btn_work,
.btn_projects {
    text-shadow: 0 10px 10px black;
    border: 1px solid black;
    color: rgb(171, 250, 169);
    box-shadow: 0px 2px 2px 0px black;
    border-radius: 5px;
    background-color: rgba(66, 37, 59, 0);
    display: inline-flex;
    align-items: center;
    align-content: center;
    padding: 0px 10px;
    line-height: 1;
    box-sizing: border-box;
    height: 75px;
    width: 33%;
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 2em;
}

.btn_hello:hover,
.btn_work:hover,
.btn_projects:hover {
    border: none;
    color: rgb(4, 255, 0);
    background-color: rgba(0, 0, 0);
    box-shadow: 0px 0px 2px 2px rgb(4, 255, 0);
}

.content_hello,
.content_work {
    border-radius: 5px;
    border: none;
    margin: 3%;
    padding: 3%;
    color: rgb(171, 250, 169);
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 2px 4px 4px 0px rgb(4, 255, 0);
    font-size: 1.3em;
}

.all_btns {
    border-radius: 3px;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    margin-top: 5%;
    margin-right: 10%;
    padding: 50px 5%;
}

.fixed_footer {
    width: 100%;
    background: #000000;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    padding-left: 7%;
}

.fixed_footer p {
    color: #696969;
    column-count: 2;
    column-gap: 50px;
    font-size: 1em;
    font-weight: 300;
}

.content_footer {
    width: 90%;
    padding-top: 5px;
    padding-bottom: 1%;
    max-height: 80px;
    display: inline-flex;
}

.links_content {
    padding-left: 3%;
    margin-right: 15px;
    background-color: hsl(0, 0%, 0%);
}

.links {
    margin-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #000000;
    display: flex;
    margin-left: 10%;
}


.icon_content {
    max-width: max-content;
    margin-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #000000;
    display: flex;
}

.icons_linkedin {
    padding-left: 10px;
}

.icons_instagram {
    padding-left: 10px;
}

.icons_github {
    padding-left: 10px;
}

.p_footer {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    text-align: center;
}

.projects_content {
    background-color: rgb(0, 0, 0, 0.9);
    width: 30%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    align-content: center;
    height: 50px;
    margin: 10px;
    padding-left: 3%;
    font-weight: lighter;
    font-size: 1.1em;

    a {
        text-shadow: 0 2px 2px rgb(149, 163, 179);
        font-size: 1.5em;
        color: rgb(4, 255, 0);
    }

}

.projects_content:hover {
    color: rgb(4, 255, 0);
    box-shadow: 0px 0px 2px 2px rgb(4, 255, 0);
}

.section_projects {
    border-radius: 5px;
    margin: 1%;
    padding: 1%;
    text-shadow: 0 10px 10px rgb(0, 0, 0);
    color: rgb(130, 209, 115);
    background-color: rgb(0, 0, 0, 0.9);
    box-shadow: 2px 4px 4px 0px rgb(4, 255, 0);
    height: 900px;
    width: 100%;
    flex-direction: column;
}

.container_work {
    position: relative;
    width: 320px;
    height: 350px;
    margin: 100px auto 0 auto;
    perspective: 2000px;
}

.carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
}

.carousel__face {
    position: absolute;
    width: 600px;
    height: 374px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgb(4, 255, 0);
    ;
    display: flex;
    box-shadow: 0px 2px 2px 2px rgb(4, 255, 0);
    ;
}

span {
    height: 30px;
    padding: 1px;
    border-radius: 0px 0px 10px 0px;
    border-bottom: 2px solid rgb(130, 209, 115);
    color: rgb(130, 209, 115);
    margin: 3%;
    font-size: 2rem;
}


.carousel__face:nth-child(1) {
    background-image: url("https://github.com/vbreksidler/project_online_store/blob/main/project-front-master-responsive.gif?raw=true");
    transform: rotateY(0deg) translateZ(300px);
}

.carousel__face:nth-child(2) {
    background-image: url("https://github.com/vbreksidler/portifoliovbr/blob/master/src/images/output_name.gif?raw=true");
    transform: rotateY(90deg) translateZ(300px);
}

.carousel__face:nth-child(3) {
    background-image: url("");
    transform: rotateY(180deg) translateZ(300px);
}

.carousel__face:nth-child(4) {
    background-image: url("");
    transform: rotateY(270deg) translateZ(300px);
}


@keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(-360deg);
    }
}